@import "~bootstrap/scss/bootstrap";
@import "custom-colors";
@import "fonts";
@import "variables";
@import "components";
@import "reset"; 

#navbar{
  .navbar{
    padding: 0px;
    border-bottom: 1px solid $gray-100;
  }
  .top{
    font-size: .9rem;
    background: $white-color;
    a{
      color: $gray-800;
      border-bottom:  1px dotted transparent;
      &:hover{
        border-bottom:  1px dotted $gray-800;
      }
    }
    .links{
      li{
        padding:10px 30px 8px 30px;
        vertical-align: middle;
        .link{
        display: inline-block;
        }
      }
      .disaster{
        background: $gray-200;
      }
      .lang{
        padding-right: 0px;
      }
    }
  }
  .navs{
    padding: 5px 0px;
    background: $white-color;
    border-bottom: transparent;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    ul{
      li{
        a{
          color: $gray-700;
          padding-left: 30px;
          font-weight: $medium;
          &:hover{
            color: $primary-blue;
          }
        }
      }
    }
  }
  .nav-news-update{
    background: $primary-blue;
    font-size: 0.9rem;
    .d-flex{
      align-content: center;
    }
    .update-block{
      width: 250px;
      color: $white-color;
      background: darken($primary-blue, 10);
      text-align: center;
      padding: 10px 0px;
      vertical-align: middle;
      
      font-weight: $semibold;
      i{
        vertical-align: middle;
      }
    }
    marquee{
      margin-top: 9px;
      vertical-align: middle;
      span{
        display: inline-block;
        border-right: 3px solid lighten($primary-blue, 20);
        padding: 0px 30px;
        a{
          color: $white-color;
          border-bottom: 1px dotted transparent;
          &:hover{
            border-bottom: 1px dotted $white-color;

          }
        }
      }
    }
  }
}

.main-banner{
  margin-top: 145px;
  background: $gray-700;
  .banner-slider{

    .slide{
      position: relative;
      height: 85vh;
      .image-wrapper{
        height: 100%;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: bottom;
        }
      }
      .image-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.5;
      }
      .slide-content{
        position: absolute;
        bottom: 120px;
        color: $white-color;
        width: 70%;
        padding-right: 140px;
        .date{
         opacity: 0.8;
          display: inline-block;
          i{
            margin-right: 10px;
            margin-top: 6px;
            vertical-align: middle;
          }
          font-size: 1rem;
          text-transform: uppercase;
        }
        h1{
          margin: 10px 0px 40px 0px;
          line-height: 1.4;
        }
      }
    }
  }
}

.official-bearers{
  padding: 20px 0px;
  .heading{
    padding-top: 40px;
  }
  .official-slider{
    .card{
      border: 1px solid $gray-200;
      border-radius: 0px;
      transition: all 0.8s;
      img{
        object-fit: cover;
      }
      .official-title{
        padding: 15px 30px;
        span{
          color: $gray-600;
        }
        h5{
          margin-bottom: 0px;
          margin-top: 5px;
          font-size: 1.1rem;
        }

      }
      &:hover{
        background: $primary-blue;
        color: $white-color;
        transition: all 0.8s;
        span{
          color: $white-color;
        }
      }
    }
    /* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}
  }
}

.multi-purpose{

  padding: 20px 0px;
  .tabs{
    li{
      margin: 0px 10px;
      a{
        padding: 0px 30px 20px 30px;
        color: $gray-900;
        font-size: 1.1rem;
        border-bottom: 3px solid transparent;
        &:hover{
          border: 1px solid transparent;
          color: $primary-blue;
        }
      }
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
      background: transparent;
      border: none;
      border-radius: 0px;
      color: $primary-blue;
      border: none;
      border-bottom: 3px solid $primary-blue;
      font-weight: $semibold;
    }
    .nav-tabs{
      border-bottom: 1px solid $gray-200;
    }
  }
  .tab-content{
    margin: 60px 0px 0px 0px;
    .news{
      a{
        .card{
          border-radius: 0px;
          border: none;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
          transition: all 0.8s;
          img{
            object-fit: cover;
            height: 320px;
          }
          .news-content{
            color: $gray-700;
            padding: 25px;
            transition: all 0.8s;
            .date{
              text-transform: uppercase;
              font-size: .9rem;
              vertical-align: middle;
              opacity: 0.8;
              i{
               margin-right: 2px; 
              }
            }
            h4{
              margin-top: 10px;
              line-height: 1.4;
            }
          }
          &:hover{
            .news-content{
              color: $white;
              transition: all 0.8s;
            }
            background: $primary-blue;
            transition: all 0.8s;
          }
        }
        .small-card{
          height: 150px;
          margin-bottom: 30px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .news-content{
            padding: 30px 20px 30px 20px;
            h5{
              margin-top: 10px;
              font-weight: $medium;
            }
          }
        }
      }
      .action{
        text-align: center;
        margin-top: 30px;
      }
    }
  }
}
.e-portal{
  .sec-accordion{
    width: 50%;
    padding: 40px;
    #accordion{
      margin-top: 40px;
      .card{
        border: none;
      }
      .card-header{
        border-bottom: none;
        background: none;
        padding: 0px;
        .btn-link{
          color: $black;
          padding: 0px;
          display: block;
          width: 100%;
          font-size: 1.2rem;
          font-weight: $medium;
          text-align: left;
          &:hover, &:focus{
            text-decoration: none;
          }
          
        }
        [data-toggle="collapse"]{   
          opacity: 1;
        }
        
        [data-toggle="collapse"].collapsed{
          opacity: 0.5;
        }
      }
      .card-body{
        padding: 10px 0px 0px 0px;
        border: none;
        .custom-radio{
          input[type="checkbox"],
          input[type="radio"] {
            display: none;
          }
          
          input[type="checkbox"] + label,
          input[type="radio"] + label
           {
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            font-size: 28px;
            font-weight: 700;
            cursor: pointer;
            border-radius: 50px;
            background-color:$gray-100;
            border:solid 1px transparent;
            padding: .8rem 1.3rem;
            display: inline-block;
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-right: 1rem;
            margin-top: 1rem;
            color: lighten($primary-blue, 20); 
          }
          
          input[type="checkbox"]:checked + label,
          input[type="radio"]:checked + label,
           {
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            background-color: lighten($primary-blue, 52); 
            color: lighten($primary-blue, 20); 
            border-color:$primary-blue;
          }
          
        }
        .ri-lg{
          margin-top: 13px;
          display: inherit;
        }
      }
    }
  }
  .map-box{
    width: 50%;
    .map-container{
      height: 100%;
    }
  }
}

.eportal-divisions{
  background: $primary-blue;
  .d-flex{
    flex-wrap: wrap;
  }
  a{
    color: $white-color;
    display: inline-block;
    padding: 40px 80px;
    text-align: center;
    border-bottom: 6px solid transparent;
    transition: all 0.5s;
    i{
      display: block;
    }
    .icon{
      font-size: 50px;
    }
    .external{
      margin-top: 10px;
      visibility: hidden;
    }
    &:hover{
      background: linear-gradient(180deg, #2C86E4 0%, rgba(15, 68, 123, 0) 100%);
      transition: all 0.5s;
      border-bottom: 6px solid lighten($primary-blue , 30);
      .external{
        visibility: visible;
      }
    }
  }
}
.gallery{
  background: $gray-100;
  padding: 60px 20px;
  padding-bottom: 120px;
  .heading{
    a{
      vertical-align: middle;
      display: inline-block;
      i{
        vertical-align: middle;
      }
    }
  }
  .videos-slider{
    margin-top: 30px;
    margin-bottom: 60px;
        /* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}
.slick-dots li button:before{
  font-size: 12px;
}

.slick-dots li.slick-active button::before{
  color: #2C86E4;
}
    .card{
      background: none;
      border: none;
      border-radius: 0px;
      .video-title{
        padding: 30px;
        h5{
          font-weight: $medium;
        }
      }
      &:hover{
        background: $white-color;
      }
    }
  }
}
.real-time{
  background: url(../assets/real-time.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  .real-time-wrapper{
    width: 50%;
    min-height: 20px;
    background: $white-color;
    padding: 45px;
    .list-group{
      margin: 20px 0px;
      .list-group-item{
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid $gray-200;
        padding: 10px 0px;
        .icon{
          color: lighten($primary-blue, 20);
          margin-right: 20px;
        }
        .title{
          h5{
            margin-bottom: 5px;
            font-weight: $regular;
          }
          span{
            font-size: 0.95rem;
          }
        }
      }
      a{
        vertical-align: middle;
        i{
          vertical-align: middle;
        }
      }
    }
  }
}

.social{
  border-top: 1px solid $gray-100;
  padding: 40px 0px;
  background: $gray-100;
  .social-inner{
    padding: 0px 30px;
    #twitter-widget-0{
      border: 1px solid $gray-200 !important;
    }
    .heading{
      margin-top: 20px;
      .icon{
        .facebook{
          color: #3b5998;
        }
        .twitter{
          color:  #00acee ;
        }
      }
      .join-text{
        margin-top: 16px;
        margin-left: 20px;
        h4{
          font-size: 1.2rem;
        }
        a{
          display: block;
          vertical-align: middle;
          i{
            vertical-align: middle;
          }
        }
      }
    }
  }
}
#footer-wrapper{
  background: $primary-blue;
  .top-footer{
    padding: 40px 0px;
  }
  .footer-container{
    .footer-item{
      width: 33.33%;
      padding: 20px;
      color: $white-color;
      ul{
        li{
          padding: 10px 0px;
        }
      }
      a{
        color: $white-color;
        opacity: 0.8;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  .bottom-footer{
    background: darken($primary-blue, 10);
    color: white;
    padding: 30px;
    p{
      margin-bottom: 0px;
    }
  }
}
.inner-page{
  margin-top: 145px;
}
.intro{
  padding: 60px 0px;
  .intro-wrapper{
    .heading{
      border-bottom: 1px solid $gray-100;
      margin-bottom: 20px;
    }
    .content{
      h5{
        margin: 20px 0px 10px 0px;
        color: $gray-800;
      }
      img{
       width: 100%;
        height: 300px;
        margin-bottom: 30px;
        object-fit: cover;
      }
      p,li{
        font-size: 1.1rem;
        color: $gray-800;
        line-height: 1.6;
      }
      ul{
        list-style: square outside none;
        li{
          padding-top: 10px;
        }
      }
    }
  }
}
.primary-blue{
  color: $primary-blue;
}

.upcoming-events{
  background: $white-color;
  padding: 10px 0px 10px 0px;
  .events-wrapper{
    position: relative;
    .headline{
      position: absolute;
      top: -5px;
      left: -10px;
      z-index: 1;
      
      span{
        background: $primary-blue;
        display: inline-block;
        padding: 10px;
        color: $white;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: $semibold;
        font-size: 0.8rem;
        -webkit-box-shadow: 10px 11px 17px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 17px -15px rgba(0,0,0,0.75);
        box-shadow: 10px 11px 17px -15px rgba(0,0,0,0.75);
      }
    }
  }
  .events-slider{
    padding: 20px 0px;
    .slick-slide {
      margin: 0 10px;
    }
    /* the parent */
    .slick-list {
      margin: 0 -10px;
    }
  }
  .event{
    padding: 20px 20px;
    border: 1px solid $gray-200;
    p{
      margin-bottom: 3px;
      font-size: 0.98rem;
    }
    .event-date{
      color: lighten($primary-blue, 20);
    }
    &:hover{
      background: lighten($primary-blue, 60);
      border: 1px solid $primary-blue;
    }
  }
}

.list-group-item{
  padding: 20px 0px !important;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid $gray-200;
  .d-flex{
    align-items: center;
    
  }
  .title{
    font-size: 1.4rem;
    font-weight: $semibold;
  }
  .file-ext{
    font-size: 1.4rem;
  }
  .parisad{
    margin: 10px 0px;
  }
}

a{
  color: $black;
  .bipad-custom-card{
    border: none;
    border-radius: 0px;
    padding: 30px;
    img{
      margin-bottom: 0px !important;
      object-fit: cover;
      height: 320px;
    }
    .text{
      border-top: 1px solid $gray-200;
      padding-top: 20px;
    }
    span{
      color: $gray-700;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: inline-block;
    }
    h5{
      margin: 0px !important;
    }
  }
  &:hover{
   
    .bipad-custom-card{
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
      color: $primary-blue !important;
      span{
        color: $primary-blue;
      }
      h5{
        color: $primary-blue !important;
      }
    }
  }
}

.recent-news-slider{
  .news-recent{
    a{
      .card{
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid $gray-200;
        transition: all 0.8s;
        img{
          object-fit: cover;
          height: 240px;
          margin-bottom: 0px !important;
        }
        .news-content{
          color: $gray-700;
          padding: 25px;
          transition: all 0.8s;
          .date{
            text-transform: uppercase;
            font-size: .9rem;
            vertical-align: middle;
            opacity: 0.8;
            i{
             margin-right: 2px; 
            }
          }
          h4{
            margin-top: 10px;
            line-height: 1.4;
          }
        }
        &:hover{
          .news-content{
            color: $white;
            transition: all 0.8s;
          }
          background: $primary-blue;
          transition: all 0.8s;
        }
      }
  }
}
.slick-dots li button:before{
  font-size: 12px;
}

.slick-dots li.slick-active button::before{
  color: #2C86E4;
}
}
.older-news{
  margin-top: 80px;
  a{
    display: block;
    .small-card{
      height: 150px ;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid $gray-200;
      img{
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        margin-bottom: 0px !important;
      }
      .news-content{
        padding: 30px 20px 30px 20px;
        h5{
          margin-top: 10px;
          font-weight: $medium;
        }
      }
      &:hover{
        h5{
          color: $primary-blue !important;
        }
      }
    }
  }
}
.inner-tabs{
  li{
    margin: 0px 10px;
    list-style: none;
    a{
      padding: 0px 30px 20px 30px;
      color: $gray-900;
      font-size: 1.1rem;
      border-bottom: 3px solid transparent;
      &:hover{
        border: 1px solid transparent;
        color: $primary-blue;
      }
    }
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background: transparent;
    border: none;
    border-radius: 0px;
    color: $primary-blue;
    border: none;
    border-bottom: 3px solid $primary-blue;
    font-weight: $semibold;
  }
  .nav-tabs{
    border-bottom: 1px solid $gray-200;
  }
}

.inner-tabs-content{
  padding: 20px 0px 0px 0px;
}

.contact-form{
  background: $white-color;
  margin-top: -160px;
  padding: 40px;
}

.contact-location{
  padding: 40px 60px;
  ul{
    li{
      list-style-type: none;
    }
  }
  .social-links{
    li{
      display: inline;
      margin-right: 40px;
      a{
        color: $primary-blue;
      }
    }
  }
}

.faq-accordion{
  margin-top: 40px;
  .card{
    border: none;
  }
  .card-header{
    border-bottom: none;
    background: none;
    padding: 0px;
    .btn-link{
      color: $black;
      padding: 0px;
      display: block;
      width: 100%;
      font-size: 1.4rem;
      font-weight: $medium;
      text-align: left;
      &:hover, &:focus{
        text-decoration: none;
      }
      
    }
    [data-toggle="collapse"]{   
      opacity: 1;
      color: $primary-blue;
    }
    
    [data-toggle="collapse"].collapsed{
      opacity: 0.5;
      color: $black;
    }
  }
  .card-body{
    padding: 30px 0px 0px 0px;
    border: none;
    p{
      line-height: 1.8;
      text-align: left;
    }
  }
}

.form-modal{
  .modal-header{
    padding: 20px 40px;
  }
  .modal-body{
    padding: 40px;
  }
}

.news-inner{
  .news-content{
    .news-small{
      img{
        height: 240px;
      object-fit: cover;
      }
    }
  }
}

.bulletin-inner{
  .bulletin{
    text-align: center;
    display: block;
    align-items: center;
    width: 100%;
    img{
      height: 720px !important;
    }
  }
}